* {
  box-sizing: border-box;
}

body {
  margin: 1px;
  font-family: system-ui, sans-serif;
  background-color: rgb(218, 213, 212);
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  font-family: "Recursive", sans-serif;
  display: flex;
}
h2 {
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Recursive", sans-serif;
 position: relative; left: 100px; top: 150px ;
}
ol {
  font-weight: lighter;
  font-size: 0.8rem;
  font-family: "Red Hat Mono", monospace;
}

.recursive-recursiva {
  font-family: "Recursive", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CASL" 0,
    "CRSV" 0.5,
    "MONO" 0;
}
.red-hat mono-rojo {
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
container { 
  height: 50vh; 
  display: flex; 
}
.manifiesto {
  background:rgb(167, 0, 92);
  width: 400px;
  height: 200px;
  position: absolute; left:50px; top:30px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
}
.UNO{
  background:rgb(0, 0, 0);
  width: 300px;
  height: 100px;
  position: absolute; left:550px; top:300px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
} 
.DOS{
  background:rgb(0, 0, 0);
  width: 300px;
  height: 200px;
  border-radius: ;
  position:absolute; left:350px; top:440px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
}
.SIETE {
  background:rgb(0, 0, 0);
  width: 250px;
  height: 300px;
  position:relative; left:800px; top:800px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
}
.CUATRO {
  background:rgb(0, 0, 0);
  width: 200px;
  height: 400px;
  position:relative; left:300px ; top: 800px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
}
.CINCO {
  background:rgb(0, 0, 0);
  width: 250px;
  height: 100px;
  position:relative; left:730px; top:650px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
}
.SEIS {
  background:rgb(0, 0, 0);
  width: 550px;
  height: 100px;
  position:relative; left:50px; top:800px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
}
.TRES{
  background:rgb(0, 0, 0);
  width: 600px;
  height: 100px;
  position:absolute; left:650px; top:800px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
}
.OCHO {
  background:rgb(0, 0, 0);
  width: 400px;
  height: 200px;
  position: relative; left:200px; top:700px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
}
.manifiesto:hover{
  background-color: rgb(123, 155, 7);
}
.UNO:hover{
  background-color: rgb(209, 171, 0);
}
.DOS:hover{
  background-color: rgb(233, 90, 8);
}
.SIETE:hover{
  background-color: rgb(137, 49, 179);
}
.CUATRO:hover{
  background-color: rgb(15, 189, 160);
}
.CINCO:hover{
  background-color: rgb(209, 171, 0);
}
.SEIS:hover{
  background-color: rgb(107, 153, 0);
}
.TRES:hover{
  background-color: rgb(172, 23, 23);
}
.OCHO:hover{
  background-color: rgb(209, 171, 0);
}

.circulo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #2b9f44;
  color: white;
  position: absolute; left: 300px; top: 180px;
}
.circulo:hover{
background-color: blue;
}

.cuadradito1{
width: 50px;
height: 50px;
background-color: black;
position: absolute; left: 200px; top: 450px;
}
.cuadradito2{
  width: 40px;
  height: 70px;
  background-color: black;
  position: absolute; left: 100px; top: 800px;
  }
.cuadradito3{
    width: 40px;
    height: 70px;
    background-color: black;
    position: absolute; left: 950px; top: 1500px;
    }
    
.cuadradito4{
  width: 60px;
  height: 30px;
  background-color: black;
  position: absolute; left: 700px; top: 1350px;}

.cuadradito5{
    width: 40px;
    height: 20px;
    background-color: black;
    position: absolute; left: 1000px; top: 600px;}

.cuadradito6{
      width: 80px;
      height: 50px;
      background-color: black;
      position: absolute; left: 200px; top: 1850px;
      }

